# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weatherdf = pd.read_csv('../WeatherPy/clean_data.csv')
weatherdf.head()

,City,Country,Max Temperature,Cloudiness,Humidity,Wind Speed,Latitude,Longitude
0,Qaanaaq,GL,47.37,99,69,1.43,77.48,-69.36
1,Kiryat Gat,IL,78.01,0,67,1.10,31.61,34.76
2,Okitipupa,NG,74.46,100,93,2.33,6.50,4.78
3,Chimoio,MZ,55.40,20,100,4.70,-19.12,33.48
4,Albany,US,93.00,50,54,4.36,42.60,-73.97

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(g_key)
coordinates = weatherdf[["Latitude", "Longitude"]].astype(float)
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=(weatherdf["Humidity"]), 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)
plt.savefig("vacaheatmap.png")
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

######

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
lowwind1 = weatherdf.loc[weatherdf["Wind Speed"]<10,:]
nocloud2 = lowwind1.loc[lowwind1["Cloudiness"]==0,:]
nicetemp3 = nocloud2.loc[nocloud2["Max Temperature"]<80,:]
final4 = nicetemp3.loc[nicetemp3['Max Temperature']>70,:]

final4.head()

,City,Country,Max Temperature,Cloudiness,Humidity,Wind Speed,Latitude,Longitude
1,Kiryat Gat,IL,78.01,0,67,1.10,31.61,34.76
34,Cherskiy,RU,71.44,0,43,5.91,68.75,161.30
123,Dawlatabad,AF,78.93,0,17,6.80,36.41,64.91
203,Auch,FR,73.99,0,55,2.30,43.65,0.58
297,Kumluca,TR,78.42,0,57,1.54,36.37,30.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = pd.DataFrame(final4)
hotel_df['Hotel'] = ""
hotel_df

,City,Country,Max Temperature,Cloudiness,Humidity,Wind Speed,Latitude,Longitude,Hotel
1,Kiryat Gat,IL,78.01,0,67,1.10,31.61,34.76,
34,Cherskiy,RU,71.44,0,43,5.91,68.75,161.30,
123,Dawlatabad,AF,78.93,0,17,6.80,36.41,64.91,
203,Auch,FR,73.99,0,55,2.30,43.65,0.58,
297,Kumluca,TR,78.42,0,57,1.54,36.37,30.29,
339,Henties Bay,NaN,72.00,0,24,7.87,-22.12,14.28,
351,Panguna,PG,78.26,0,71,1.48,-6.32,155.48,
448,Province of Mantua,IT,71.01,0,65,3.00,45.17,10.78,
467,Lipari,IT,75.00,0,69,5.99,38.47,14.95,

In [6]:
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():

    latitude = row['Latitude']
    longitude = row['Longitude']
    city = row['City']
    country = row['Country']
    
    params["location"] = f"{latitude},{longitude}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][0]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        hotel_df.loc[index, "Hotel"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing... skipping.")
        
    print("------------")

Retrieving Results for Index 1: Kiryat Gat.
Closest hotel to Kiryat Gat at 31.61 , 34.76 is Waldorf Astoria Jerusalem.
------------
Retrieving Results for Index 34: Cherskiy.
Missing... skipping.
------------
Retrieving Results for Index 123: Dawlatabad.
Missing... skipping.
------------
Retrieving Results for Index 203: Auch.
Closest hotel to Auch at 43.65 , 0.58 is Château de Drudas.
------------
Retrieving Results for Index 297: Kumluca.
Closest hotel to Kumluca at 36.37 , 30.29 is Queen's Park Le Jardin Hotel.
------------
Retrieving Results for Index 339: Henties Bay.
Closest hotel to Henties Bay at -22.12 , 14.28 is Cape Cross Lodge.
------------
Retrieving Results for Index 351: Panguna.
Closest hotel to Panguna at -6.32 , 155.48 is DJ Garden Lodge.
------------
Retrieving Results for Index 448: Province of Mantua.
Closest hotel to Province of Mantua at 45.17 , 10.78 is Villa dei Mulini.
------------
Retrieving Results for Index 467: Lipari.
Closest hotel to Lipari at 38.47 , 14.95 is Quartara Boutique Hotel.
------------

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [8]:
hotel_df.head()

,City,Country,Max Temperature,Cloudiness,Humidity,Wind Speed,Latitude,Longitude,Hotel
1,Kiryat Gat,IL,78.01,0,67,1.10,31.61,34.76,Waldorf Astoria Jerusalem
34,Cherskiy,RU,71.44,0,43,5.91,68.75,161.30,
123,Dawlatabad,AF,78.93,0,17,6.80,36.41,64.91,
203,Auch,FR,73.99,0,55,2.30,43.65,0.58,Château de Drudas
297,Kumluca,TR,78.42,0,57,1.54,36.37,30.29,Queen's Park Le Jardin Hotel

In [9]:
## Add marker layer ontop of heat map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= (hotel_df["Humidity"]), 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

marker_layer = gmaps.marker_layer(locations, hover_text='', label='', info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
plt.savefig("markermapvaca.png")

fig

Figure(layout=FigureLayout(height='420px'))